.container {
  display: grid;
  grid-template-rows: 100px 1fr auto;
  
  min-height: 100vh;
  padding: 2px;
}

/* Navbar spans across both columns */
.container > :first-child {
  grid-column: 1 / 3;
}

/* Sidebar */
.dashboard {
      display: grid;
  grid-template-columns: 250px 1fr;
  padding-top: 40px;
  
}

/* Optional styling */
.sidebar {
  background-color: #ce6081;
  
  padding: 15px;
}

.products {

  padding: 10px;
}
.menuBtn {
  display: none;
  background: none;
  border: none;
  font-size: 24px;
}
@media (max-width:767px) {
  .dashboard{
  display: grid;
    grid-template-columns:  1fr;
  }
  .container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  min-height: 100vh;
  min-height: 100dvh;
  
  padding: 2px;
  gap: 5px;
}
  .sidebar {
    display: none; /* hidden by default */
    position: fixed;      /* overlay */
    top: 65px;
    left: 0px;
    height: 100dvh;
    width: 250px;
    z-index: 1000;
    overflow-y: auto;
    transition: transform 0.3s ease;
    transform: translateX(-100%); /* hidden offscreen */
  }

  .sidebar.show {
    display: block;
    transform: translateX(0);  /* slide in */
  }
   .menuBtn {
    display: inline-block;
    color: black;
     position: absolute;  /* taken out of normal flow */
  top: 60px;
  left: 0px;
  z-index: 1100;
  }
  .footer {
  position: static; 
  
}

}